<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="page-caption">
          <h1 class="page-title">Service Detail</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content-area">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="sidenav mb60">
                    <ul class="listnone no-padding">
                      <li class="active"><a href="#" title="Diagnostic Cardiac">Diagnostic Cardiac</a></li>
                      <li><a href="#" title="Vascular Dignostic">Vascular Dignostic</a></li>
                      <li><a href="#" title="Invasive Procedures">Invasive Procedures</a></li>
                      <li><a href="#" title="Vein Clinic Services">Vein Clinic Services</a></li>
                      <li><a href="#" title="Heart Conditions Treated">Heart Conditions Treated</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="widget">
                    <h2 class="widget-title">Opening Hours</h2>
                    <hr>
                    <div class="opening-time">
                      <span>Mon-Fri</span><strong class="pull-right">8:00am-7:00pm</strong><br>
                      <span>Saturday </span><strong class="pull-right">9:00am–5:00pm</strong><br>
                      <span>Sunday </span><strong class="pull-right">9:00am–3:00pm</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-8">
       <div class="row">
         <div class="col-md-12 col-sm-12">
            <img src="/images/service-single.jpg" class="img-responsive mb30" alt="">
           <p class="lead">Nunc cursus leo risus non ac efficitur vel seauris iaculis fam blandit ornare justo in sagittis sem ornare spat viverliquam blaconsequat.</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed auctor augue, sit amet accumsan leo. Aliquam maximus luctus turpis. Suspendisse massa ex, hendrerit vitae turpis nec, dictum ultrices loremse duiellentesque fringilla metus interdum turpis venenatis tempor. Phasellus tristique, enim at pulvinar onw eultrices, felis ligula sodales diam, ac pharetra enim turpis vel leo. </p>
           <p class="alignright">Quisque malesuada, nibh vel dignissim luctus, sit neque dolor placerat risus, ut vehicula mauris est eu nisunc eleifend tel consequat. </p>
           <p class="alignleft">Proin varius ultricies metus et lobortis. Aliquam feugiat velit quis se ur tellus pulvinaed ex cumsan ut semper qobortis sit amet felis.</p>
           <img src="/images/right-img.jpg" class="alignright img-responsive" alt="">
           <h2>Right Side Image</h2>
           <p>Donec tempus euorci non vestibul liquam tristique dapibus felisid venenati ellentesque vitae rutrum is quamauris sit amet libero luctus vutpat arcu lorem utcommodo telluellentesque eleifend.</p>
           <p>Serpibus felisid venenati ellentesque vitae rutrum is quamauris sit amet libero luctus vutpat.</p>
           <img src="/images/left-img.jpg" class="alignleft img-responsive" alt="">
           <h2>Left Side Image</h2>
           <p>Tempus euorci non vestibul liqua dapibus felisid venenati ellentesque vitae rutrum is quamauris sit amet libero luctus vutpat arcu lorem utcommodo telluellentesque eleifend lorem ipsum.</p>
           <p>Serpibus felisid venenati ellentesque vitae rutrum is quamauris sit amet libero luctus vutpat.</p>
         </div>
       </div>
     </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
</th:block>
</th:block>
</html>