<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="page-caption">
          <h1 class="page-title">Service List</h1>
        </div>
      </div>
    </div>
  </div> -->
</div>
<!-- /.page header -->
<div class="content">
  <div class="container">
    <div class="row">

      <tr th:each="products : ${products}">
        
        <div class="col-md-3 col-sm-3" style="margin-bottom: 30px;">
          <div style="border-radius: 1rem; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 20px -11px #000000;">
              <!-- <div class="service-img mb10" ><a th:href="product-detail"><img th:src="${products.imageUrl}" class="img-responsive"style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; " alt="" ></a></div> -->
              <div class="service-img mb10" ><a th:href="@{/mbti/product-detail(product_Id=${products.product_Id})}"><img th:src= '@{/mbti/getImage(imageName=${products.imageUrl})}' class="img-responsive"style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; " alt="" ></a></div>

              <div class="mr-3" style=" padding: 6%;">
                <h3><a href="#" class="heading-title" > <td th:text= "${products.product_Name}"></td> </a></h3>
                
                <div style="text-align: right;">
                  <p1><td th:text= "${products.quantity}"></td>정 <td th:text= "${products.perDay}"></td>일분</p1>
                </div>
                <p1><td th:text= "${products.corporate}"></td></p1>
                 
                <h3><td th:text= "${products.price}"></td>원</h3>
              </div>
              <!-- <a href="service-detail.html" class="btn-link">Read More</a>  -->
            </div>
        </div>
      </tr>
        


        
        

        
    </div>

    <!-- <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="service-block text-center">
              <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="images/service-4.jpg" class="img-responsive" alt=""></a></div>
              <h2><a href="#" class="heading-title">Heart Conditions Treated</a></h2>
              <p>Donec tempus eu orci non vestiliquam tristique dapibus felisid veellentesque vitae rutrum amet libero luctuvolutpat commodo tellus. </p>
              <a href="service-detail.html" class="btn-link">Read More</a> 
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="service-block text-center">
              <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="images/service-5.jpg" class="img-responsive" alt=""></a></div>
              <h2><a href="#" class="heading-title">Vein Clinic Services</a></h2>
              <p> Nullam tincidorci vitae efficitur molestie nisl tortor eleifend ieu bibendum metus risus sitamet eros uspendisse acraesent doamet ipsum. </p>
              <a href="service-detail.html" class="btn-link">Read More</a> 
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="service-block text-center">
              <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="images/service-6.jpg" class="img-responsive" alt=""></a></div>
              <h2><a href="#" class="heading-title">Diagonstic Cardiac</a></h2>
              <p>Fusce ultricies turpis et tortor portaid vestibulum augue venena hac habitasse platea dict umst squec lacinia justo.</p>
              <a href="service-detail.html" class="btn-link">Read More</a> 
            </div>
        </div>
    </div> -->
  </div>
</div>
 </th:block>
</th:block>
</html>