<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="page-caption">
          <h1 class="page-title">Service Detail</h1>
        </div>
      </div>
    </div>
  </div> -->

</div>
<!-- /.page header -->

<div class="content">
  <div class="container">
    <div class="">
      <div class="col-md-12 col-sm-12">
        <div class="center">
          <div class="">
            <div class="col-md-5 col-sm-5">
              <div class="">
                <div class="col-md-5 col-sm-5" style="width: 50%; height:400px; float: left;">
                  <!-- 첫번째 영역: -->
                  <img src="/images/service-single.jpg" class="" style="width: 100%; max-height: 100%;"alt="">
                  </div>
                  <div class="col-md-5 col-sm-5" style="width: 50%; height:400px; float: right;">
                  <!-- 두번째 영역:  border:1px solid green;-->
                    <h2>건조한 눈엔 닥터보이어 60정</h2>
                    <p>Dr.voir  30일분</p>
                    <h3>49000원</h3>
                    <hr>
                    <p>건조한 눈엔 닥터보이어 60정</p>
                    <p>
                    <div style="width: 50%;float:left;">배송비</div>
                    <div style="width: 50%;float:right;text-align: right;">+3000원</div>
                  </p>
                    <div style="width: 50%;float:left;"><h3>총 상품 금액</h3></div>
                    <div style="width: 50%;float:right;text-align: right;"><h3>52000원</h3></div>
                       
                    <div>
                       <div class="row">
                           <!-- <div style="border-top: 2px solid rgb(43, 47, 58); flex: 1 1 0%;"></div> -->
         
                           <div class="px-md-3 py-2 " style="width: 50%; height:100px; margin: 5px;">
                               <!-- <div style="border-top: 2px solid rgb(43, 47, 58); flex: 1 1 0%;"></div> -->
                               <button type="button" class="btn btn-m text-22 btn-primary btn-block" style="height:60px;"> 장바구니 </button>
         
                           </div>
                           <div class="px-md-3 py-2 " style="width: 50%; height:100px; margin: 5px;">
                               <!-- <div style="border-top: 2px solid rgb(43, 47, 58); flex: 1 1 0%;"></div> -->
                               <button type="button" class="btn btn-m text-22 btn-default btn-block" style="height:60px;"> 바로구매 </button>
         
                           </div>
                           
                       </div>
                     </div>
                  </div>
              </div>
            </div>
            <!-- ---------------선?--------------- -->
      <div class="col-md-5 col-sm-5" style="background-color: black;"></div>
      <div class="container" style="padding-bottom: 400px;">


      </div>
        
     
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
</th:block>
</th:block>
</html>