<!DOCTYPE html>
<html lang="ko">
    <th:block th:fragment="setContent(content)">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/mbtiFavicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Are you small and local cardiology clinic and hospital? Download our free website template for your cardiology website template. Its Free!">
<meta name="keywords" content="medical website templates bootstrap,medical website templates free download,medical website templates free, cardiology website templates,cardiology website design,cardiology websites for doctors,cardiology website templates free,
veterinary cardiology website, pediatric cardiology website">
<title>MBTI | Medical Best Type Indicator</title>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- animsition css -->
<link rel="stylesheet" type="text/css" href="css/animsition.min.css">
<!-- Font Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- font css -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">
<div class="top-header"><!-- top header -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12"><a class="logo" href="home"><img src="/images/logo.png" alt=""></a> </div>
      <div class="col-md-9 hidden-sm hidden-xs">
        <div class="top-link">
          <div class="row">
            <div class="col-md-5">
             <h1><a href="home"> MBTI</a></h1>
            </div>
            <div class="col-md-7">
              <a href=login th:if="${SID eq null}" >로그인/회원가입</a>
              <th:block th:unless="${SID eq null}">
                <h3>[[${SID}]]님</h3>
                <a href="logout">로그아웃</a>
              </th:block>
            </div>
            <div class="col-md-7">
              <a href="cart">장바구니</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- top header -->
<div class="intro-section"> <!-- intro section -->
  <div class=""><!-- navigation-transparent -->
    <div class="header"><!-- navigation -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div id="navigation" class="navigation">
              <ul>
                <li class="active"><a href="products" title="Home" class="animsition-link">전체</a></li>
                <li><a href="Boneproducts" title="Service" class="animsition-link">추천</a></li>
                <li><a href="Liverproducts" title="Service List">피로/간</a></li>
                <li><a href="Exerciseproducts" title="Service Detail">체지방/운동능력</a></li>
                <li><a href="Brainproducts" title="Blog" class="animsition-link">두뇌활동</a></li>
                <li><a href="Stomachproducts" title="Blog" class="animsition-link">위장/비뇨</a></li>
                <li><a href="Eyeproducts" title="Blog Single" class="animsition-link">눈</a></li>
                <li><a href="Boneproducts" title="Contact Us" class="animsition-link">뼈/관절</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-2 hidden-sm hidden-xs navigation-search">
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /.navigation -->
  <main>
    <section>
        <div id="content">
            <th:block th:replace="${content}"></th:block>
        </div>
    </section>
  </main>
<div class="footer section-space60"> 
  <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer-widget"><!-- footer-widget -->
          <div class="footer-logo mb30"> <img src="images/ft-logo.png" alt="" class=""> </div>
          <address><i class="fa fa-map-marker"></i>
          fn이노에듀 교육장<br>
          서울특별시 금천구<br>
          가산 디지털1로 168
          </address>
          <ul class="listnone contact">
            <li><i class="fa fa-phone"></i>02-2179-5191</li>
            <li><i class="fa fa-envelope-o"></i>sehoon9867@naver.com</li>
          </ul>
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer-widget"><!-- footer-widget -->
         
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="footer-widget"><!-- footer-widget -->
          <h3 class="footer-title">양강차왕</h3>
          <ul class="listnone bullet bullet-angle-right mb0">
            <li><a href="index.html" title="Home">양성희</a></li>
            <li><a href="service-list.htm" title="Services">강민송</a></li>
            <li><a href="blog.html" title="Blog">차세훈</a></li>
            <li><a href="contact-us.html" title="Contact Us">왕태현</a></li>
          </ul>
        </div>
        <!-- /.footer-widget --> 
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="footer-widget"><!-- footer-widget -->
          <h3 class="footer-title">MBTI</h3>
          <p>Medical Best Type Indicator</p>
          <form>
              <div class="input-group">
<input type="email" class="form-control" placeholder="Email Address">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">subscribe</button>
      </span>
              </div>
          </form>
        </div>
        <!-- /.footer-widget --> 
      </div>
    </div>
  </div>
</div>
<!-- /.footer -->
<!-- /.tiny-footer --> 
<!-- back to top icon --> 
<a href=" #0 " class="cd-top" title="Go to top">Top</a> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>

<!-- animsition --> 
<script type="text/javascript" src="js/animsition.js"></script> 
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- sticky header --> 
<script type="text/javascript" src="js/jquery.sticky.js"></script> 
<script type="text/javascript" src="js/sticky-header.js"></script>  

<!-- Back to top script --> 
<script src="js/back-to-top.js" type="text/javascript"></script> 
</body>
</th:block>
</html>