<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block
    th:replace="~{/layout/index-layout :: setContent(~{this::content})}"
  >
    <th:block th:fragment="content">
      <div>
        <center>
          <h1>로그인</h1>
          <form th:action="@{login}" th:object="${loginDto}" method="post">
            <label for="member_Id">Username</label>
            <input
              type="text"
              id="member_Id"
              name="member_Id"
              autofocus="autofocus"
            />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <br />
            <input type="submit" value="LogIn" />
            <button type="button" onclick="location.href='sign' ">
              회원가입
            </button>
          </form>

          <!-- <label for="name">아이디 : <input type="text" id="id" name="id"></label> <br />
                <label for="name">비밀번호 : <input type="text" id="pass" name="pass"></label> <br />
                <input type="submit" value="로그인" onclick="loginOn()"> <br />
                <input type="submit" value="회원가입" onclick="loginOn()">
                <th:onclick="'location.href=\''+ @{${/signup}} + '\''"></th:onclick> -->
        </center>
      </div>
    </th:block>
  </th:block>
</html>
