<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block
    th:replace="~{/layout/index-layout :: setContent(~{this::content})}"
  >
    <th:block th:fragment="content">
      <head>
        <style>
          input[type=password] {
            font-family: jua;
}
        </style> 
      </head>
        <body>
            <div class="container" style="width:25%">
              <center>
                <div class="Login" style="color : #FC5602; padding-top : 60px; padding-bottom : 20px; font-size : 45px; "> 
                    Login :)
                </div>
                <div class=" mx-n1 mx-md-n3 mt-5 justify-content-center" style="border-top: 2px solid #ffd8c4; padding-bottom : 80px; padding-top : 10px; flex: 10%;">

                  <div>
                     <br>
                          <form th:action="@{login}" th:object="${loginDto}" method="post">
                            <input
                              type="text"
                              id="member_Id"
                              name="member_Id"
                              autofocus="autofocus"
                              class="form-control"
                              placeholder="아이디"
                              style="font-family: jua;"
                            />

                            <input type="password" id="password" name="password" class="form-control"  placeholder="비밀번호"/> 
                            <br />

                            <div class=" mx-n1 mx-md-n3 mt-5 justify-content-center" style="border-top: 2px solid #ffd8c4; padding-bottom : 90px ;flex: 10%;">
                              <br>
                            <button type="button" class="btn btn-m text-16 btn-primary" onclick="location.href='sign' ">
                              회원가입
                            </button>
                            <input type="submit" class="btn btn-m text-16 btn-default" value="로그인" />
                          </form>
                
                          <!-- <label for="name">아이디 : <input type="text" id="id" name="id"></label> <br />
                                <label for="name">비밀번호 : <input type="text" id="pass" name="pass"></label> <br />
                                <input type="submit" value="로그인" onclick="loginOn()"> <br />
                                <input type="submit" value="회원가입" onclick="loginOn()">
                                <th:onclick="'location.href=\''+ @{${/signup}} + '\''"></th:onclick> -->
                        </center>
                      </div>
                    </body>
                    </th:block>
                  </th:block>
                </html>
                
                
    