<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <script type="text/javascript" src="/js/member-reg.js"></script>
      <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> 
<!--         
        <script>	
        $(document).ready(function(){ 
          $("#submit").click(function(){
              if($("#member_Name").val().length==0){ alert("이름을 입력하세요."); $("#member_Name").focus(); return false; }
              if($("#Email").val().length==0){ alert("이메일을 입력하세요."); $("#Email").focus(); return false; }
              if($("#Phone").val().length==0){ alert("휴대폰번호를 입력하세요."); $("#Phone").focus(); return false; }
              if($("#Message").val().length==0){ alert("메세지를 입력하세요."); $("#Message").focus(); return false; }
            });		
        });
        </script>
         -->

        <style>
          input[type=password] {
font-family: sans-serif !important;
}
        </style>
      </head>
<!-- 
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="page-caption">
          <h1 class="page-title">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /.page header -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="widget widget-contact">
              <h2 class="widget-title">Follw Us</h2>
              <hr>
              <address><i class="fa fa-map-marker"></i>
              서울특별시 금천구<br>가산 디지털1로 168<br>fn이노에듀 교육장</address>
              <ul class="listnone no-padding">
                <li><i class="fa fa-phone"></i>02-2179-5191</li>
                <li><i class="fa fa-envelope-o"></i>sehoon9867@naver.com<br>스팸 메일 환영</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="widget widget-follwus">
              <h2 class="widget-title">Opening Hours</h2>
              <hr>
              <div class="opening-time">
                <span>월요일 - 금요일</span><strong class="pull-right">8:00am-7:00pm</strong><br>
                <span>토 - 일 </span><strong class="pull-right">CLOSE</strong><br>
                <span>공휴일 </span><strong class="pull-right">CLOSE</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1>회원가입</h1>
            <br>
            <form id="insertForm">
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textinput">아이디 <span class="required">*</span></label>  
                <div class="col-md-10">
                <input id="textinput" name="member_Name" type="text" placeholder="" class="form-control input-md">
                </div>
              </div> 

              <!-- Text input-->
              <div class="form-group" >

                <label class="col-md-10 control-label" for="textinput">비밀번호 <span class="required">*</span></label>
                <div class="col-md-10">
                <input id="textinput" name="password" type="password" placeholder="" class="form-control input-md"> 
                </div>
              </div>           

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textinput">성별 <span class="required"></span></label>  
                <div class="col-md-10">
                <input id="textinput" name="gender" type="text" placeholder="" class="form-control input-md"> 
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textinput">생년월일 <s pan class="required"></s></label>  
                <div class="col-md-10">
                <input id="textinput" name="birth" type="text" placeholder="" class="form-control input-md"> 
                </div>
              </div>              
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textinput">전화번호 <span class="required">*</span></label>  
                <div class="col-md-10">
                <input id="textinput" name="phoneNumber" type="text" placeholder="" class="form-control input-md"> 
                </div>
              </div>
              
  
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textinput">주소 <span class="required"></span></label>  
                <div class="col-md-10">
                <input id="textinput" name="address" type="text" placeholder="" class="form-control input-md">
                <div class="input-group mb-3" style="float:right;">
                  <div class="col-sm-9 input-group-text" ></div><br/>
                  <!-- <button class="btn btn-outline-secondary col-sm-3" type="button" onclick="signUpMember()">회원가입</button> -->
                  <div class="form-group" >
                   <button type="button" class="btn btn-m text-16 btn-primary" onclick="location.href='home'">돌아가기</button>
                   <button type="button" class="btn btn-m text-16 btn-default" onclick="signUpMember()">회원가입</button>
                  </div>
                </div>   
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map" id="googleMap"></div> 
<div class="footer section-space60"> 
</th:block>
</th:block>
</html>
