<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
<!-- <th:block th:fragment="content"> -->
    
<head>
    <!-- <script type="text/javascript" src="./cart.js"></script>   -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script>


let basket = {
    totalCount: 0, 
    totalPrice: 0,
    //체크한 장바구니 상품 비우기
    delCheckedItem: function(){
        document.querySelectorAll("input[name=buy]:checked").forEach(function (item) {
            item.parentElement.parentElement.parentElement.remove();
        });
        //AJAX 서버 업데이트 전송
    
        //전송 처리 결과가 성공이면
        this.reCalc();
        this.updateUI();
    },
    //장바구니 전체 비우기
    delAllItem: function(){
        document.querySelectorAll('.row.data').forEach(function (item) {
            item.remove();
          });
          //AJAX 서버 업데이트 전송
        
          //전송 처리 결과가 성공이면
          this.totalCount = 0;
          this.totalPrice = 0;
          this.reCalc();
          this.updateUI();
    },
    //재계산
    reCalc: function(){
        this.totalCount = 0;
        this.totalPrice = 0;
        document.querySelectorAll(".p_num").forEach(function (item) {
            if(item.parentElement.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild.checked == true){
                var count = parseInt(item.getAttribute('value'));
                this.totalCount += count;
                var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');
                this.totalPrice += count * price;
            }
        }, this); // forEach 2번째 파라메터로 객체를 넘겨서 this 가 객체리터럴을 가리키도록 함. - thisArg
    },
    //화면 업데이트
    updateUI: function () {
        document.querySelector('#sum_p_num').textContent = '상품갯수: ' + this.totalCount.formatNumber() + '개';
        document.querySelector('#sum_p_price').textContent = '합계금액: ' + this.totalPrice.formatNumber() + '원';
    },
    //개별 수량 변경
    changePNum: function (pos) {
        var item = document.querySelector('input[name=p_num'+pos+']');
        var p_num = parseInt(item.getAttribute('value'));
        var newval = event.target.classList.contains('up') ? p_num+1 : event.target.classList.contains('down') ? p_num-1 : event.target.value;
        
        if (parseInt(newval) < 1 || parseInt(newval) > 99) { return false; }

        item.setAttribute('value', newval);
        item.value = newval;

        var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');
        item.parentElement.parentElement.nextElementSibling.textContent = (newval * price).formatNumber()+"원";
        //AJAX 업데이트 전송

        //전송 처리 결과가 성공이면    
        this.reCalc();
        this.updateUI();
    },
    checkItem: function () {
        this.reCalc();
        this.updateUI();
    },
    delItem: function () {
        // event.target.parentElement.parentElement.parentElement.remove();
        event.target.parentElement.remove();

        this.reCalc();
        this.updateUI();
    }
}

// 숫자 3자리 콤마찍기
Number.prototype.formatNumber = function(){
    if(this==0) return 0;
    let regex = /(^[+-]?\d+)(\d{3})/;
    let nstr = (this + '');
    while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
    return nstr;
};

    </script>
<style>

div.cart {
  /* background: yellow; */
  position: relative;
  border: 10px;
  left: 0px;
  color : #FC5602;
  font-size : 18px;
  font-weight: 900;
  padding-top : 30px;
  padding-bottom : 30px;
}

div.hline { 
  border-top: 1px solid red;
  border-bottom: 30px;
}
div.productbox{
  background-color: #ffcdb4;

  padding: 50px;
}
div.custom-control-input{

}

.pl-1, .px-1 {
padding-left: .25rem!important;
}
.pr-1, .px-1 {
padding-right: .25rem!important;
}
.pt-2, .py-2 {
padding-top: .5rem!important;
}
.pb-2, .py-2 {
padding-bottom: .5rem!important;
}
.col-6 {
flex: 0 0 50%;
max-width: 50%;
}.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.row {
display: flex;
}
.border-bottom {
border-bottom: 1px solid #dee2e6!important;
}
.align-items-center {
align-items: center!important;
}
.pb-1, .py-1 {
padding-bottom: .25rem!important;
}
.pt-1, .py-1 {
padding-top: .25rem!important;
}
.d-flex {
display: flex!important;
}
.mr-3, .mx-3 {
margin-right: 1rem!important;
}
.up{

}
.down{

}



</style>

</head>
<th:block th:fragment="content">
    <body>
    <form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="return false;">
        <div class="container" style="width:65%">
            <div class="cart" style="color : #FC5602;padding-top : 40px; padding-bottom : 30px; font-size : 18px;"> 
                장바구니 
            </div>
            <!-- ------------------ -->
            <div style="text-align: right;margin-bottom: 20px;">
                <button type="button" class="btn btn-primary" id="btn-delete">삭제</button>
            </div> 
            
            <!-- 한줄 -->
            <div class="border-bottom ">
                <table class="table  display:table"  style="margin-bottom: -1px">
                    <colgroup>
                        <col style="width: 5%; height: 100%;" />
                        <col style="width: 15%; height: 100%;" />
                        <col style="width: 80%; height: 100%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="padding-top:50px">
                                <input type="checkbox" style="transform:scale(200%);" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">
                            </td>  
                            <th>
                                 <div class="mr-3 bg-img" style="min-width: 110px; width: 110px; min-height: 110px; background-color:black;"></div>
                            </th>
                        <td>
                            <div style="width: 100%; height:110px;float:left;">
                                <h3 style="margin-bottom: -5px;">건조한 눈엔 닥터보이어 60정</h3>
                                <!-- 삭제 -->
                                <div>
                                    <h>Dr.voir  30일분 <a href="javascript:void(0)" onclick="javascript:basket.delItem();" style="text-align: right;">&nbsp&nbsp&nbsp&nbsp&nbsp삭제</a></h>
                                </div>
                                <div>
                                    <input type="hidden" name="p_price" id="p_price1" class="p_price" value="49000">
                                    <h4>49000원</h4>
                                </div>
                                <!-- updown -->
                                <div class="updown" style="letter-spacing: -5px;">
                                    <!-- <<< num >>> -->
                                    <button class="down" type="button"  style="background-color: #f3f3f3; border: 0px;" onclick="javascript:basket.changePNum(1);"> - </button>
                                    <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" style="border: 0px;" value="1" onkeyup="javascript:basket.changePNum(1);">
                                    <button type="button" style="background-color: #f3f3f3; border: 0px;" onclick="javascript:basket.changePNum(1);"> + </button>
                                    
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- 한줄 -->
            <div class="border-bottom ">
                <table class="table  display:table"  style="margin-bottom: -1px">
                    <colgroup>
                        <col style="width: 5%; height: 100%;" />
                        <col style="width: 15%; height: 100%;" />
                        <col style="width: 80%; height: 100%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="padding-top:50px">
                                <input type="checkbox" style="transform:scale(200%);" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">
                            </td>  
                            <th>
                                 <div class="mr-3 bg-img" style="min-width: 110px; width: 110px; min-height: 110px; background-color:black;"></div>
                            </th>
                        <td>
                            <div style="width: 100%; height:110px;float:left;">
                                <h3 style="margin-bottom: -5px;">건조한 눈엔 닥터보이어 60정</h3>
                                <!-- 삭제 -->
                                <div>
                                    <h>Dr.voir  30일분 <a href="javascript:void(0)" onclick="javascript:basket.delItem();" style="text-align: right;">&nbsp&nbsp&nbsp&nbsp&nbsp삭제</a></h>
                                </div>
                                <div>
                                    <input type="hidden" name="p_price" id="p_price1" class="p_price" value="49000">
                                    <h4>49000원</h4>
                                </div>
                                <!-- updown -->
                                <div class="updown" style="letter-spacing: -5px;">
                                    <!-- <<< num >>> -->
                                    <button class="down" type="button"  style="background-color: #f3f3f3; border: 0px;" onclick="javascript:basket.changePNum(1);"> - </button>
                                    <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" style="border: 0px;" value="1" onkeyup="javascript:basket.changePNum(1);">
                                    <button type="button" style="background-color: #f3f3f3; border: 0px;" onclick="javascript:basket.changePNum(1);"> + </button>
                                    
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
            <!-- -----------order------- -->
            

            <div class=" mx-n1 mx-md-n3 mt-5 justify-content-center" style="border-top: 2px solid rgb(43, 47, 58); flex: 10%;">
                <div style=" text-align: right;margin-bottom: 40px;margin-top: 40px;">
                    <h3>총금액 0000000 원</h3>
                </div>
                
                <div class= "px-md-3 py-2 " style="width: 50%; float:right; margin-top: 40px;">

                    <div class="">
                        <button type="button" class="btn btn-m text-16 btn-primary" style="width: 49%; float:left;"> 선택 주문 </button>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-m text-16 btn-default" style="width: 49%; float:right;"> 전체 주문 </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5" style="margin-bottom: 200px;"></div> 
            

        </div>
    </form>


        <!-- <script>
            $(document).ready(function(){
            
                // check box 눌렀을 경우 정보 담아주는 변수
                var cart = {
                    buyList : [],
                    init : function() {
                        //buyList 초기화
                        this.buyList = [];
                    },
                    getBuyList : function(obj) {
                        return this.buyList;
                    },
                    getFindIndex : function(cd) {
                        //배열 중복 검색
                        var fIdx = -1;
                        this.buyList.forEach(function(item, idx, ary) {
                            if(item.code == cd) {
                                fIdx = idx;
                            }
                        });
                        return fIdx;
                    },
                    addBuyList : function(obj) {
                        var fIdx = this.getFindIndex(obj.code);
                        if(fIdx == -1) {
                            this.buyList.push(obj);
                        } else {
                            this.buyList[fIdx] = obj;
                        }
                        this.render();
                    },
                    deleteBuyList : function(cd) {
                        this.buyList.splice(this.getFindIndex(cd), 1);
                        this.render();
                    },
                    getTotalPay : function() {
                        //총 결제금액 계산
                        var totalQty = 0;
                        var totalPrice = 0;
                        
                        this.buyList.forEach(function(item, idx, ary) {
                            totalQty += Number(item.qty);
                            totalPrice += Number(item.price)*Number(item.qty);
                        });
                        return {
                            totalQty : totalQty,
                            totalPrice : totalPrice
                        };
                    },
                    render : function() {            
                        // 주문 table 그리기
                        var order = $('#tbl-order tbody');
                        if(this.buyList.length > 0) {
                            var html = [];
                            this.buyList.forEach(function(item, idx, ary) {
                                html.push([
                                    '<tr data-cd="', item.cd ,'">',                        
                                    '<td>', item.title, '</td>',
                                    '<td>', item.price, '</td>',
                                    '<td>', item.qty, '</td>',
                                    '<td>', Number(item.price)*Number(item.qty), '</td>',
                                    '</tr>'
                                ].join(''));
                            });
                            order.html(html);
            
                            // 총 결제금액&수량 table 그리기
                            var total = this.getTotalPay();
                            $('#total-qty').val(total.totalQty);
                            $('#total-amt').val(total.totalPrice);
                            $('#tbl-order').show();                
            
                        } else {
                            // 주문내역 table 숨기기
                            $('#tbl-order').hide();                
                 
                            // 주문내역 지우기
                            order.empty();
                 
                            // 총 결제정보 지우기
                            $('#total-qty').val(0);
                            $('#total-amt').val(0);
                        }            
                    }
                };
            
                // 수량 클릭 시
                $('.edt-qty').on('change', function() {
                    var tr = $(this).closest('tr');
                    var code = tr.children('td:eq(1)').text();
                    var title = tr.children('td:eq(2)').text();
                    var price = Number(tr.children('td:eq(3)').text());
                    var qty = Number(tr.children('td:eq(4)').find('input').val());
            
                    // 수량이 0 초과하는 경우 buyList에 추가 
                    // 수량이 0 이하인 경우 buyList에서 삭제
                    if(qty > 0) {
                        var obj = {
                            code : code,
                            title : title,
                            price : price,
                            qty : qty
                        }
                        cart.addBuyList(obj);
                    } else {
                        cart.deleteBuyList(code);
                    }
                    console.log(cart.getBuyList());
                });
            
                // 삭제 버튼 클릭 시
                $('#btn-delete').on('click', function() {
            
                    var chkList = $('input[name="fruit"]:checked');        
                    var cd;
            
                    // chcekd 된 product row 삭제
                    // order row 삭제
                    for(var i = chkList.length-1; i > -1; i--) {
                        cd = chkList.eq(i).closest('tr').find('td:eq(1)').text();            
                        chkList.eq(i).closest('tr').remove();
                        cart.deleteBuyList(cd);
                    }     
                });
            
            }); //end document ready
            
            $.fn.serializeObject = function() {
                "use strict";
                
                var result = {};
                var extend = function(i, element) {
                    var node = result[element.name];
            
                    if ('undefined' !== typeof node && node !== null) {
                        if ($.isArray(node)) {
                            node.push(element.value);
                        } else {
                            result[element.name] = [ node, element.value ];
                        }
                    } else {
                        result[element.name] = element.value;
                    }
                };
            
                $.each(this.serializeArray(), extend);
                return result;
            };
            </script> -->

    </body>
    </th:block>
</th:block>
</html>