<!DOCTYPE html>
<meta charset= "utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="intro-caption"><!-- intro caption -->
              <h1 class="intro-title">지금 내 몸에 필요한 영양제는?</h1>
            
              </style>
              <p class="mb40">영양제 맞춤 추천</p>
              <a href="survey" class="btn btn-default">건강타입 확인하기</a> </div>
            <!-- /.intro caption --> 
          </div>
        </div>
      </div>
    </div>
    <!-- /.intro section -->
    
    <div class="section-space80"><!-- section-space80 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center mb60">
          <br>
            <br>
            <h1 style="font-family:'BMJUA_ttf.ttf';"><b>당신의 건강타입은 무엇인가요?</b></h1>
            <h2 style="font-family: 'fontawesome-webfont.ttf';">with MBTI</h2> 
            </div>
          <div class="col-md-12 col-sm-12">
            <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="service-block text-center mb60">
                  <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="/images/cardimage.png" class="img-responsive" alt=""></a></div>
                  <h2><a href="#" class="heading-title"><b>지금 바로 비타민 정보 확인하기</b></a></h2>
                </div>
            </div>
    
            <div class="col-md-4 col-sm-4">
              <div class="service-block text-center">
                  <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="/images/cardimage2.png" class="img-responsive" alt=""></a></div>
                  <h2><a href="#" class="heading-title"><b>꿀잠츄 정보 확인하기</b></a></h2>
                </div>
            </div>
    
            <div class="col-md-4 col-sm-4">
              <div class="service-block text-center">
                  <div class="service-img mb30"><a href="service-detail.html" class="imghover"><img src="/images/cardimage3.png" class="img-responsive" alt=""></a></div>
                  <h2><a href="#" class="heading-title"><b>아로니아 생과 정보 확인하기</b></a></h2>
                </div>
            </div>
        </div>
    
        
    <!-- /.section-space80 -->
    </div>
    <div class="pdt80 bg-light"><!-- section-space80 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center mb60">
           <h1></h1> 
           <p></p>
          </div>
        </div>
        <div class="row pdb80">
          <div class="col-md-4 col-sm-4">
            <div class=" feature feature-left">
                <div class="feature-icon"><i class="fa fa-paper-plane"></i></div>
                <div class="feature-content">
                  <h2>Our Mission</h2>
                  <p> 블록체인 교육생들의 건강 증진!<br> 영양제를 먹고 즐겁게 코딩합시다 </p>
                </div>
              </div>        
          </div>
    
          <div class="col-md-4 col-sm-4">
            <div class=" feature feature-left">
                <div class="feature-icon"><i class="fa fa-low-vision"></i></div>
                <div class="feature-content">
                  <h2>Vision</h2>
                  <p> 다양한 영양제를 맞춤 제공하는 MBTI </p>
                </div>
              </div>        
          </div>
    
          <div class="col-md-4 col-sm-4">
            <div class=" feature feature-left">
                <div class="feature-icon"><i class="fa fa-clock-o"></i></div>
                <div class="feature-content">
                  <h2>24 Hours Your Health Support</h2>
                  <p> 전문가의 안전한 솔루션으로 당신에게 꼭 맞춘 영양제 복용을 시작해 보세요 </p>
                </div>
              </div>        
          </div>
    
        </div>
        <div class="cta-call bg-primary pinside40">
          <div class="row">
            <div class="col-md-9 col-sm-9">
              <i class="fa fa-phone"></i>
              <h1 class="cta-title text-white">You can easily reach us via the phone number below:</h1>
              <h2 class="cta-num text-white">02-426-7854</h2>
            </div>
            <div class="col-md-3 col-sm-3 cta-btn">
              <a href="#" class="btn btn-white">Get A Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.section-space80 -->
    
    </div><!-- /.section-space80 -->
    
    <div class="section-space80 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb60">
            <h1>MBTI와 함께 당신에게 맞는 영양제를 찾아보세요</h1>
            <p>아직도 가족과 동료의 추천으로 고민하시나요? 사람마다 필요한 영양소와 적정섭취량은 모두 다르기에 전문적인 추천이 필요합니다.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="testimonial-info"><!-- testimonial info -->
              <p class="testimonial-content"> 잘못된 복용은 부작용을 일으킵니다. </p>
              <span class="testimonial-text">- 전문가의 안전한 솔루션으로 당신에게 꼭 맞춘 <br> 영양제 복용을 시작해 보세요 </span><br>
              <span class=></span>
            </div><!-- /.testimonial info -->
          </div>
          <div class="col-md-6">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="testimonial-info"><!-- testimonial info -->
              <p class="testimonial-content"><b> 온라인 최저가를 약속합니다.</b> </p>
              <span class="testimonial-text">- MBTI는 오프라인 판매의 유통거품을 걷어내서<br> 모든 제품을 온라인 최저가 수준으로 제공합니다 </span><br>
              <span class="testimonial-meta"></span>
            </div><!-- /.testimonial info -->
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="bg-orange pdt60 pdb60">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <h1 class="text-white">나의 MBTI는 무엇일까?</h1>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#" class="btn btn-primary">MBTI 확인</a>
          </div>
        </div>
      </div>
    </div>
    </th:block>
</th:block>
</html>