<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykck.mbti.dao.MemberDao">
<select id="getMemberList" resultType="com.ykck.mbti.dto.LoginDto">
    select * from member
</select>
<select id="insertMember" resultType="com.ykck.mbti.dto.LoginDto">
    insert into member(member_id, member_Name, password, gender, birth, phoneNumber, address, type_id)
    values(COMMENT_SEQ.NEXTVAL, #{member_Name}, #{password}, #{gender}, #{birth}, #{phoneNumber}, #{address}, 7)
</select>

<update id="updateMemberType" parameterType="com.ykck.mbti.dto.LoginDto"  >
<![CDATA[
    update member set type_Id = #{type_Id} 
    where member_id = (select member_id from 
    (select * from member order by ROWID desc) where ROWNUM<2]]>
</update>



</mapper>
